<mat-toolbar color="primary">
  <span>IMS Tools</span>
  <mat-divider vertical="true"></mat-divider>
  <button mat-raiser-button routerLink="/" mat-button>
    <mat-icon>home</mat-icon>
    Home
  </button>

  <button mat-raiser-button routerLink="/trancode-mapper" mat-button>
    <mat-icon>construction</mat-icon>
    Trancode Mapper
  </button>

  <button mat-raiser-button routerLink="/trancode-viewer" mat-button>
    <mat-icon>visibility</mat-icon>
    Trancode Viewer
  </button>
</mat-toolbar>
