.component {
  h1 {
    display: flex;
    justify-content: center;
    align-self: center;
  }

  &_links {
    display: flex;
    justify-content: center;

    &.link-btn {
      color: white;
    }

    .link-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    a {
      color: white;
    }

  }
}
