<div class="page-container">
  <h1>IMS Trancoder Viewer</h1>

  <mat-divider></mat-divider>

  <div class="page-container_section">

    <div class="select-trancode-map">
      <div class="select-container">
        <mat-form-field appearance="fill">
          <mat-label>Select trancode map</mat-label>
          <mat-select>
            <mat-option *ngFor="let item of data" [value]="item.id" (click)="onSelectionChange(item)">
              {{ item.name + " - " + item.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="selectedTrancodesEntity">
        <p>Trancode total size: {{totalTrancodeSize}}</p>
        <ul>
          <li *ngFor="let field of selectedTrancodesEntity.fields">
            {{ "Field name: " + field.name + " Field Size: " + field.size}}
          </li>
        </ul>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="trancode-text-area" [formGroup]="form">
      <mat-form-field appearance="fill">
        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
          formControlName="trancodeText">

        </textarea>
      </mat-form-field>

      <p *ngIf="currentTrancodeTextSize > totalTrancodeSize" class="alert-text">
        Inputed Trancode is greater than expected size
      </p>

      <p *ngIf="currentTrancodeTextSize < totalTrancodeSize" class="alert-text">
        Inputed Trancode is less than expected size
      </p>
    </div>

    <div class="dump-variables">

      <p class="warning-text">the space character is replaced by * to prevent html issues to print that char</p>
      <div class="text-output">
        <span *ngFor="let field of currentTrancodeFields;let j = index"
          [ngClass]="{'over-index': j  === currentClassOver}">{{field.fieldValue.replaceAll(' ', '*') }}</span>
      </div>
      <div class="list-container">
        <ul *ngFor="let field of currentTrancodeFields; let i = index" (mouseover)="onFieldMouseOver(i)"
          (mouseleave)="onFieldMouseLeave()">
          <li>Name: {{field.fieldName}}</li>
          <li>Value: {{field.fieldValue}}</li>
          <li>Size: {{field.fieldSize}}</li>
        </ul>
      </div>
    </div>

  </div>

</div>
