.page-container{

  &_section{
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: auto;
    justify-content: space-around;

    .form-container{

      flex: 1;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      .form-item{
        padding: 5px;
      }

      .number-item{
        width: 75px;
      }


      .fields-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        .field-item{
          margin: 5px;
        }
      }
    }
    .json-visualizer{

    }

  }
}


.add-trancode-field{
  padding: 25px;
  button{
    margin-left: 0;
    margin-right: 10px;
  }
}

