.page-container {

  &_section {

    &.link-btn {
      color: white;
    }

    .link-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    a {
      color: white;
    }

  }
}
