/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.page-container {
  padding: 25px;

  h1 {
    display: flex;
    justify-content: center;
    align-self: center;
  }

  &_section {
    display: flex;
    justify-content: center;
    padding: 25px;
  }
}



// JSON VIEWER

:root {
  --ngx-json-key: white;
  --ngx-json-string: white;
  --ngx-json-number: yellow
  --ngx-json-undefined: red;
  --ngx-json-boolean: white;
  --ngx-json-date:  white;
}


.mat-button.mat-success,
.mat-stroked-button.mat-success {
    color: #155724;
}
.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #f0fff3;
  background-color: #155724;
}

.mat-icon-button.mat-success {
  color:#155724;
}
