/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.page-container {
  padding: 25px;

  h1 {
    display: flex;
    justify-content: center;
    align-self: center;
  }

  &_section {
    display: flex;
    justify-content: center;
    padding: 25px;
  }
}
